<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

    <pre>


    </pre>
        <div class="main">
            <div class="col-md-6 col-sm-12">
               <div class="login-form">
                  <form method ="POST" action="/register">
                    <div class="form-group">
                       
                        <input type="number" class="form-control" name ="_id" placeholder="id">
                     </div>
                     <div class="form-group">
                       
                        <input type="text" class="form-control" name ="firstName" placeholder="firstName">
                     </div>
                     <div class="form-group">
                       
                        <input type="text" class="form-control" name ="lastName" placeholder="lastName">
                     </div>

                     <div class="form-group">
                        
                        <input type="text" class="form-control"  name ="UserName" placeholder="User Name"  >
                     </div>

                     <div class="form-group">
                        
                        <input type="password" class="form-control"  name ="UserPassword" placeholder="User Password"  >
                     </div>
                     <div class="form-group">
                       
                        <input type="text" class="form-control" name="city" placeholder="city">
                        <input type="text" class="form-control" name ="street" placeholder="street">
                        <input type="number" class="form-control" name ="building" placeholder="building">

                    </div>
                     <button type="submit" class="btn btn-success">update</button>
                    
                  </form>
               </div>
            </div>
         </div>
       
</body>
</html>